# Build artifacts
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# Docker volumes
sqldata/
redisdata/

# Certificates
nginx/certs/*.pem
nginx/certs/*.key
